OPENAI_API_KEY=sk-your-openai-api-key-here
OPENAI_API_BASE=https://api.openai.com/v1
BOTMOTHER_MODEL=gpt-4o
JWT_PUBLIC_KEY_PATH=keys/public.pem
DATABASE_URL=postgresql://postgres:password@localhost:5432/agent
MAIN_API_URL=https://api.botspace.uz
PLUGIN_API_URL=https://api.botmother.uz/api/engine-plugin
SOCKS_PROXY=socks5://100.115.59.123:1080
ROOT_PATH=
